@using MvcOnlineTicariOtomasyon.Models.Siniflar
@model List<SatisHaraket>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h5 class="card-header mt-3">Satış Haraketleri </h5>

<table class="table table-bordered" id="tbl1" width="100%" collspacing="0">
    <thead>
        <tr>
            <th>Satış ID</th>
            <th>Ürün</th>
            <th>Cari</th>
            <th>Personel</th>
            <th>Fiyat</th>
            <th>Adet</th>
            <th>Toplam Tutar</th>
            <th>Satış Tarihi</th>
            <th>İşlemler</th>
        </tr>
    </thead>
    <tbody class="table-border-bottom-0">

        @foreach (var item in Model)
        {
            <tr name="@item.SatisID">
                <td>@item.SatisID</td>
                <td>@item.Urun.UrunAdi</td>
                <td>@item.Cariler.CariAd @item.Cariler.CariSoyad</td>
                <td>@item.Personel.PersonelAd @item.Personel.PersonelSoyad</td>
                <td>@item.Fiyat</td>
                <td>@item.Adet</td>
                <td>@item.ToplamTutar</td>
                <td>@item.Tarih.ToString("dd.MM.yyyy")</td>
                <td>
                    <a href="/Satis/SatisGetir/@item.SatisID" class="btn btn-info btn-sm"><i class="bx bxs-edit"></i></a>
                    <a href="/Satis/SatisDetay/@item.SatisID" class="btn btn-primary">Detaylar</a>
                </td>

            </tr>
        }
    </tbody>
</table>
<a href="/Satis/YeniSatis" class="btn btn-primary">Satış Yap</a>





<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

<link href="https://cdn.datatables.net/1.10.15/css/dataTables.bootstrap.min.css" rel="stylesheet" />

<link href="https://cdn.datatables.net/responsive/2.1.1/css/responsive.bootstrap.min.css" rel="stylesheet" />

<script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>

<script src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap4.min.js "></script>

<script>

$('#tbl1').dataTable({});

</script>

