@model MvcOnlineTicariOtomasyon.Models.Siniflar.SatisHaraket
@{
    ViewBag.Title = "SatisGetir";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<h5 class="card-header mt-3">Satış İşlemi Güncelleme </h5>
<br />
@using (Html.BeginForm("SatisGuncelle", "Satis", FormMethod.Post))
{
    @Html.HiddenFor(x => x.SatisID)
    @Html.LabelFor(x => x.Urun.UrunAdi)
    @Html.DropDownListFor(x => x.UrunId, (List<SelectListItem>)ViewBag.Urun, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.Cariler.CariAd)
    @Html.DropDownListFor(x => x.CariId, (List<SelectListItem>)ViewBag.Cariler, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.Personel.PersonelAd)
    @Html.DropDownListFor(x => x.PersonelId, (List<SelectListItem>)ViewBag.Personeller, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.Adet)
    @Html.TextBoxFor(x => x.Adet, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.Fiyat)
    @Html.TextBoxFor(x => x.Fiyat, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.ToplamTutar)
    @Html.TextBoxFor(x => x.ToplamTutar, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.Tarih)
    @Html.TextBoxFor(x => x.Tarih, new { @class = "form-control" })
    <br />

    <button class="btn btn-outline-dark">Ürün Güncelle</button>
}
