@using MvcOnlineTicariOtomasyon.Models.Siniflar
@model List<Urun>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<h5 class="card-header mt-3">Ürünler </h5>
<div class="table-responsive text-nowrap m-2">

    <table class="table table-bordered" id="Table" width="100%" collspacing="0">
        <thead>
            <tr>
                <th>Ürün Adı</th>
                <th>Marka</th>
                <th>Stok Miktarı</th>
                <th>Alış Fiyatı</th>
                <th>Satış Fiyatı</th>
                <th>Durum</th>
                <th>Kategori</th>
                <th>Görsel</th>
                <th>İşlemler</th>
            </tr>
        </thead>

        <tbody class="table-border-bottom-0">
            @foreach (var item in Model)
            {
                <tr name="@item.UrunID">
                    <td>@item.UrunAdi</td>
                    <td>@item.Marka</td>
                    <td>@item.Stock</td>
                    <td>@item.AlisFiyati</td>
                    <td>@item.SatisFiyati</td>
                    <td>@item.Durum</td>
                    <td>@item.Kategori.KategoriAdi</td>
                    <td><img src="@item.UrunGorsel" style="width:auto;height:50px;" /></td>
                    <td>
                        <a href="/Urun/UrunGetir/@item.UrunID" class="btn btn-info btn-sm"><i class="bx bxs-edit"></i></a>
                        <a href="/Urun/UrunSil/@item.UrunID" class="btn btn-danger btn-sm"><i class="bx bx-minus-circle"></i></a>
                    </td>

                </tr>

            }
        </tbody>
    </table>
    <a href="/Urun/UrunEkle" class="btn btn-primary">Ürün Ekle</a>
</div>





<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

<link href="https://cdn.datatables.net/1.10.15/css/dataTables.bootstrap.min.css" rel="stylesheet" />

<link href="https://cdn.datatables.net/responsive/2.1.1/css/responsive.bootstrap.min.css" rel="stylesheet" />

<script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>

<script src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap4.min.js "></script>

<script>

$('#Table').dataTable({});

</script>