@model MvcOnlineTicariOtomasyon.Models.Siniflar.Personel
@{
    ViewBag.Title = "PersonelEkle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<h5 class="card-header mt-3">Yeni Personel Ekleme </h5>

<form class="form-group" method="post">
    @Html.LabelFor(x => x.PersonelAd)
    @Html.TextBoxFor(x => x.PersonelAd, new { @class = "form-control" })
    @Html.LabelFor(x => x.PersonelSoyad)
    @Html.TextBoxFor(x => x.PersonelSoyad, new { @class = "form-control" })
    @Html.LabelFor(x => x.PersonelGorsel)
    @Html.TextBoxFor(x => x.PersonelGorsel, new { @class = "form-control" })
    @Html.LabelFor(x => x.Departman)
    @Html.DropDownListFor(x => x.DepartmanId, (List<SelectListItem>)ViewBag.departman, new { @class = "form-control" })
    @Html.LabelFor(x => x.TelefonNumarası)
    @Html.TextBoxFor(x => x.TelefonNumarası, new { @class = "form-control" })
    @Html.LabelFor(x => x.Adress)
    @Html.TextBoxFor(x => x.Adress, new { @class = "form-control" })
    @Html.LabelFor(x => x.Hakkında)
    @Html.TextAreaFor(x => x.Hakkında, new { @class = "form-control" })




    <button class="btn btn-outline-dark">Ürün Ekle</button>





</form>
